[sources]
#mellon = git https://github.com/CrowdStrike/mellon.git branch=develop
sparc.utils = git https://github.com/davisd50/sparc.utils branch=develop
sparc.entity = git https://github.com/davisd50/sparc.entity branch=develop


[buildout]
extends =
    buildout-mellon.cfg

develop +=
    src/mellon
    src/mellon_plugin.factory.confluence
    src/mellon_plugin.factory.git
    src/mellon_plugin.factory.stash
#    src/mellon_plugin.sniffer.entropy

eggs +=
    mellon_plugin.factory.confluence
    mellon_plugin.factory.git
    mellon_plugin.factory.stash

test-packages =
    sparc.testing

extensions +=
    mr.developer

parts +=
    test
    omelette

# mr.developer settings:
always-checkout = force
sources = sources
sources-dir = src_ext
auto-checkout = *
always-accept-server-certificate = true
unzip = true

[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

eggs =
    ${buildout:eggs}
    ${buildout:test-packages}

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${buildout:eggs}
